@page "/"
@using StefanOssendorf.Blazor.DirectUploadInput

<h1>This is the test page for the upload control!</h1>
<p>
	To see some sort of output look in your console!
</p>

<DirectFileUpload @ref="@FileUpload" UploadSettings="@UploadSettings" Multiple="true" Accept="image/jpeg" StrictAccept="true" UploadStarting="@UploadingCallback" FilesUploaded="@UploadFinishedCallback" FileUploadErrored="@UploadeErrored" FileUploadCanceled="@UploadCanceled" />

<input type="button" @onclick="CancelUpload" value="Cancel upload" />
@if (!string.IsNullOrEmpty(_cancelMessage))
{
	<p>
		@_cancelMessage
	</p>
}

@if (!string.IsNullOrEmpty(_fileUploadCanceled)) {
	<p>
		@_fileUploadCanceled
	</p>
}

@if(_startUploading != null) {
	<div>
		@foreach(var file in _startUploading.Files) {
			<p @key="file">
				Name: @file.Name with size @file.Size and type @file.Type
			</p>
		}
		<p>
			Total size: @_startUploading.TotalSize
		</p>
	</div>
}

@if(_fileUploadResult != null) {
	<div>
		<p>
			Status: @_fileUploadResult.StatusCode
		</p>
		<p>
			Raw body: @_fileUploadResult.RawBody
		</p>
		<p>
			<ul>
				@foreach(var header in _fileUploadResult.Headers) {
					<li @key="header.Key">
						@header.Key : @header.Value
					</li>
				}
			</ul>
		</p>
	</div>
}

@if (_fileUploadError is not null) {
	<div>
		<p>
			Message: @_fileUploadError.Message
		</p>
		<p>
			Stack: @_fileUploadError.Stack
		</p>
	</div>
}


@code {
	private FileUploadSettings UploadSettings {
		get;
	} = new FileUploadSettings {
			HttpMethod = "POST",
			UploadUrl = "api/uploads",
			FormName = "files",
			Headers = new Dictionary<string, string>()
		};

	private FileUploadStarting? _startUploading;

	private async void UploadingCallback(FileUploadStarting data) {
		_fileUploadCanceled = _cancelMessage = string.Empty;
		_fileUploadResult = null;
		_fileUploadError = null;
		_startUploading = data;
		await InvokeAsync(StateHasChanged).ConfigureAwait(false);
	}

	private FileUploadResult? _fileUploadResult;
	private async Task UploadFinishedCallback(FileUploadResult uploadResult) {
		_fileUploadResult = uploadResult;
		await InvokeAsync(StateHasChanged).ConfigureAwait(false);
	}

	private string _cancelMessage = string.Empty;
	private DirectFileUpload FileUpload { get; set; } = null!;
	private async Task CancelUpload(){
		await FileUpload.CancelUpload().ConfigureAwait(false);
		_cancelMessage = "Upload canceled";
		await InvokeAsync(StateHasChanged).ConfigureAwait(false);
	}

	private FileUploadError _fileUploadError;
	private async Task UploadeErrored(FileUploadError fileUploadError) {
		_fileUploadError = fileUploadError;
		await InvokeAsync(StateHasChanged).ConfigureAwait(false);
	}

	private string _fileUploadCanceled = string.Empty;
	private async Task UploadCanceled() {
		_fileUploadCanceled = "Upload was canceled";
		await InvokeAsync(StateHasChanged).ConfigureAwait(false);
	}
}